.carContent{
  width: 100%;
  position: relative;
}
#action {
  height: 100px;
  width: 130px;
  position: absolute;
  right: -14%;
  top: 14px;
}
.ant-form-item-label > label, .ant-checkbox-wrapper {
   color: #1e1e1e;
}